.advantages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 1rem auto;

  

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;

    /* Планшеты */
    @media (max-width: 1024px) {
      gap: 2rem;
    }

    /* Мобилки */
    @media (max-width: 768px) {
      flex-direction: column; // карточки вертикально
      align-items: center; // центрируем
      gap: 1.5rem;
    }
  }
}
