.page {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 2rem;

  &__about {
    width: 90%;
    margin: 3rem auto;
    min-height: 100vh;
    padding: 2rem 0;
  }
}

@media (max-width: 1280px) {
  .page {

    &__about {
      margin: 0rem auto;
    }
  }
}