.card {
  height: 100%;
  padding: 32px;
  border-radius: 16px;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;

  &__row {
    display: flex;
    gap: 1rem;
  }
}

.icon {
  color: #000;
  margin-top: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



