.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 60px;
      font-weight: bold;
      font-family: var(--font-montserrat), sans-serif;
    }
  }

  &__call {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;  
  }

  &__call {
    background-color: white;
    color: black;
    text-align: start;
    font-weight: 500;
    font-family: var(--font-montserrat-alt);
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    position: relative;
    width: fit-content;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    cursor: pointer;
    transition: .3s ease;
  }

  &__call:hover {
    background-color: var(--main-color);
    transition: .3s ease;
    color: white;
  }

  &__stickyBox {
    position: sticky;
    z-index: 1;
    bottom: 4rem;
    top: 100px; 
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 0.5rem;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__text {
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}
