.form {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* две колонки */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.inp,
.select {
  height: 46px;
  border-radius: 24px;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  outline: none;
  color: black;
  background: #fff;
}

.select {
  padding: 0 44px 0 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 18px center; 
}

/* upload */
.upload {
  height: 46px;
  border-radius: 24px;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8a8a8a;
  cursor: pointer;
}

/* кнопка как на фото */
.btn {
  margin-top: 6px;
  width: fit-content;
  padding: 0 32px;
  height: 46px;
  border-radius: 24px;
  border: none;
  background: var(--main-color);
  color: #fff;
  font-weight: 600;
  font-family: var(--font-montserrat);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #084298;
  }
}
