.card {
  font-family: var(--font-montserrat-alt);
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 700px;
  min-height: 220px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: black;
  }

  &__desc {
    font-size: 18px;
    font-weight: 500;
    color: var(--grey-text);
  }

  /* ================= Адаптив ================= */

  // Планшеты
  @media (max-width: 1280px) {
    max-width: 400px;
    gap: 0.8rem;

    &__title {
      font-size: 16px;
    }

    &__desc {
      font-size: 18px;
    }
  }

  // Мобилки
  @media (max-width: 768px) {
    width: 100%; // занимает всю ширину контейнера
    flex-direction: column; // карточка вертикально
    gap: 0.6rem;
    border: 1px solid var(--grey-text);
    border-radius: 8px;
    padding: 1rem;


    &__desc {
      font-size: 13px;
    }
  }
}
