.content {
  width: 100%;
  display: flex;
  align-items: start;
  margin: 1rem 0;
  padding-bottom: 4rem;
  gap: 5rem;
  justify-content: center;
  font-family: var(--font-montserrat-alt), sans-serif;

  &__img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 4 / 3; // или 16 / 9
    object-fit: cover;
    border-radius: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-montserrat-alt);
    width: 100%;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    color: black;
    line-height: 1.2;
  }

  &__text {
    width: 100%;
    font-family: var(--font-montserrat-alt);
  }

  &__description {
    color: var(--grey-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  /* ================= Адаптив ================= */

  // Планшеты
  @media (max-width: 1280px) {
    gap: 1.5rem;
    align-items: start;
    padding-bottom: 4rem;

    &__title {
      font-size: 32px;
    }
  }


  @media (max-width: 1080px) {
    
    &__img {
      max-width: 400px;
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;

    &__img {
      max-width: 100%;
    }
  }

  // Мобилки
  @media (max-width: 768px) {
    padding-bottom: 1rem;

    &__img {
      max-width: 100%;
      border-radius: 16px;
    }

    &__info {
      gap: 1rem;
    }

    &__title {
      font-size: 28px;
    }
  }
}
