.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;
  color: black;
  font-family: var(--font-montserrat-alt);
  
  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    color: black;
  }


  &__cards {
    display: flex;
    justify-content: space-between;
    min-width: 326px;
    width: 100%;
    gap: 1rem;
    width: 100%;
  }
}