
:root {
  --background: #ffffff;
  --main-color: #2f6ab6;
  --font-sans: var(--font-montserrat);
  --font-accent: var(--font-montserrat-alt);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-accent), sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
