/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.logo__menu {
  display: none;
}

.logo__text {
  color: var(--main-color);
  font-weight: 600;
}

.hidden {
  display: none;
}

.scrolled {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.inner {
  height: 100px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburgerWrapper {
  display: none;
}

/* NAVIGATION (PC) */
.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navItemWrapper {
  position: relative;
}

.navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
}

.arrowIcon {
  transition: transform 0.3s ease; /* Плавное вращение */
  font-size: 1.2rem;
  margin-left: 8px;
}

/* Когда дропдаун активен — поворачиваем стрелку на 180 градусов */
.arrowRotate {
  transform: rotate(180deg);
}


/* DROPDOWN (PC) */
.dropdownMenu {
  display: none; /* Скрыто по умолчанию */
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  min-width: 220px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 10px 0;
  z-index: 10;
  margin-top: 10px;
}

.dropdownActive .dropdownMenu {
  display: flex;
}

.subLink {
  padding: 12px 20px;
  color: #000 !important;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  transition: background 0.2s;
  
  &:hover {
    background: #f5f5f5;
  }
}

.arrowIcon {
  transition: transform 0.3s ease;
  font-size: 1.1rem;
  margin-left: 5px;
}

.arrowRotate {
  transform: rotate(180deg);
}

.desktopOnly {
  display: flex;
}

.mobileOnly {
  display: none;
}


@media (max-width: 1280px) {
  .hamburgerWrapper {
    display: flex;
    position: absolute;
    z-index: 2;
    right: 2rem;
  }

  .menu__open {
    display: flex;
    margin-top: 1rem;
  }

  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
    margin-top: 2rem;
  }

  .phoneIcon {
    font-size: 26px;
  }
  .nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5rem;
    flex-direction: column;
    align-items: start;
    background-color: var(--main-color);
    opacity: 90%;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
  }

  .navLink,
  .dropdown button {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Линия на всю ширину */
    text-align: left;
    box-sizing: border-box;
  }

  .dropdownMenu {
    display: none; // По умолчанию скрыто везде
    position: static;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.1); /* Слегка подсвечиваем вложенное меню */
    width: 100%;
    box-shadow: none;
  }

  .dropdownActive .dropdownMenu {
    display: flex;
  }

  .subLink {
    padding: 15px 3rem;
    color: #fff !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: .3s ease;
  }

  .subLink:hover {
    color: #000 !important;
  }

  .navLink {
    color: white;
    border-bottom: 1px solid rgb(231, 226, 226);
    font-size: 20px;
    text-transform: uppercase;
    gap: 1rem;
  }

  .nav__open {
    transform: translateX(0);
  }

  .nav__close {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {

}
