/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.logo__menu {
  display: none;
}

.logo__text {
  color: var(--main-color);
  font-weight: 600;
}

.hidden {
  display: none;
}

.scrolled {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.inner {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburgerWrapper {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #fff;
}

.navLink {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  font-size: 14px;
}

.setting {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lang {
  display: flex;
  gap: 5px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.phoneIcon {
  font-size: 22px;
  flex-shrink: 0;
}

.number {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 14px;
  line-height: 1.2;
}

@media (max-width: 1280px) {
  .hamburgerWrapper {
    display: flex;
    position: absolute;
    z-index: 2;
    right: 2rem;
  }

  .menu__open {
    display: flex;
    margin-top: 1rem;
  }

  .phoneIcon {
    font-size: 26px;
  }
  .nav {
    position: absolute;
    z-index: 1;
    top: -1rem;
    left: 0;
    right: 0;
    padding-left: 5rem;
    flex-direction: column;
    align-items: start;
    background-color: var(--main-color);
    opacity: 90%;
    height: 100vh;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navLink {
    color: white;
    border-bottom: #fff;
  }

  .nav__open {
    transform: translateX(0);
  }

  .nav__close {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
}
