.aboutUs {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;

  /* ================= Адаптив ================= */

  // Планшеты
  @media (max-width: 1024px) {
    height: auto;       // авто высота под контент
  }

  // Мобилки
  @media (max-width: 768px) {
    width: 95%;
    height: auto;       // авто высота под контент
    padding: 1rem 0;
  }
}
