.slider {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  transition: transform 0.45s ease;
  will-change: transform;

  @media (max-width: 768px) {
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    /* скрываем скроллбар */
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.item {
  flex: 0 0 20%; // 5 логотипов в ряд на ПК
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80px;

  img {
    object-fit: contain;
  }

  @media (max-width: 768px) {
    flex: 0 0 50%; // по 2 логотипа на мобильных
    scroll-snap-align: start;
    height: 60px; // уменьшим немного на мобилке
  }
}

/* ===== адаптив ===== */
@media (max-width: 768px) {
  .partners {
    padding: 2.5rem 0;
    gap: 2rem;
  }

  .item img {
    max-width: 120px;
    max-height: 50px;
  }

  .dot {
    width: 4px;
    height: 18px;
  }

  .active {
    height: 26px;
  }
}
